.project-col {
  margin-bottom: 30px;

  .project-card {
    position: relative;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      top: 17px;
      left: 17px;
      height: calc(100% - 34px);
      width: 0;
      background-color: rgba(255, 255, 255, .7);
      transition: .3s ease-in-out;
    }

    &:hover::before {
      width: calc(100% - 34px);
    }

    img {
      width: 100%;
    }
  }

  .project-card-details {
    color: #000000;
    background-color: #ffffff;
    padding: 20px;

    h4 {
      font-weight: 600;
    }

    p {
      color: #2e344e;
    }

  }
}

