.history-content {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: -6px;
    width: 15px;
    height: 15px;
    background-color: #10121b;
    border-radius: 50%;
    border: 3px solid #2e344e;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    svg {
      font-size: 26px;
      margin-right: 15px;
    }

    h4 {
      font-weight: 700;
      margin-bottom: 0;
    }
  }

  .details {
    border-left: 3px solid #2e344e;

    .left {
      p {
        font-size: 20px;
        padding-left: 20px;
        color: #a4acc4;
      }
    }

    .right {
      position: relative;
      padding-left: 35px;

      &::before {
        content: "";
        position: absolute;
        left: -31px;
        top: 15px;
        height: 1px;
        width: 30px;
        background: #2e344e;

        @media screen and (max-width: 991px) {
          height: 0;
        }

      }

      h5 {
        font-size: 25px;
        font-weight: 700;
        color: #037fff;
      }

      .organization-name {
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
      }

      .organization-details {
        color: #a4acc4;
        font-size: 18px;
      }
    }
  }
}